*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# macOS
.DS_Store

# docs (auto created)
doc/allclasses-frame\.html

doc/allclasses-noframe\.html

doc/constant-values\.html

doc/index\.html

doc/logfile\.txt

doc/package-frame\.html

doc/package-list

doc/package-summary\.html

doc/Pusheen\.html

doc/script\.js

doc/stylesheet\.css
